@font-face {
	font-family: "Martel";
	src: url("font/martel-regular.otf") format("opentype");
}
@font-face {
	font-family: "Baker Signet";
	src: url("font/baker-signet-bt.ttf") format("truetype");
}
@font-face {
	font-family: "Ubuntu Regular";
	src: url("font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
	font-family: "Proxima Nova Regular";
	src: url("font/Proxima Nova Reg.ttf") format("truetype");
}
