<!DOCTYPE html>
<html>
<head>
	<title>Krucible</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/font.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/krucible.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<body>
	<!-- Static navbar -->
	<div class="container-fluid no-margin" id="nav-container">
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
		  <a class="navbar-brand" href="#">
		    <img src="../static/img/logo.png" width="30" height="30" alt="" style="margin-top: -12px">&nbsp;&nbsp;<span class="page-title" style="font-size: 1.5em;">K</span><span class="page-title" style="font-size: 1.2em;">RUCIBLE</span>
		  </a>
		  <ul class="navbar-nav mr-auto">
		  </ul>
		    <ul class="navbar-nav my-2 my-lg-0" id="navUserDropdown">
		      <li class="nav-item dropdown">
		        <a class="nav-link" href="#" id="navUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        	<img src="../static/img/profile-sample.png" id="imgUserProfile"> &nbsp;&nbsp;
		          Manager Managerson
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navUser">
		          <a class="dropdown-item" href="#">Sign Out</a>
		        </div>
		      </li>
		    </ul>
		</nav>
	</div>
	<div class="container-fluid no-margin">
		<div class="row main-content no-gutters">
			<!-- Create side pane with events -->
			<div class="col-md-2 col-xs-4" id="side-nav-container">
				<div class="scrollable">
					<table class="table table-hover" id="side-nav-table" border="0">
						<tr id="navDashboard" class="side-nav-item"><td><img src="../static/img/dashboard-24px.png" class="nav-item-icon" /><span class="nav-item-text">Dashboard</span></td></tr>
						<tr id="navOrders" class="side-nav-item"><td><img src="../static/img/orders-24px.png" class="nav-item-icon" /><span class="nav-item-text">Orders</span></td></tr>
                        <tr id="navEmployees" class="side-nav-item"><td><img src="../static/img/employees-24px.png" class="nav-item-icon" /><span class="nav-item-text">Employees</span></td></tr>
                        <tr id="navIssues" class="side-nav-item"><td><i class="fas fa-times-circle nav-item-icon"></i><span class="nav-item-text">Issues</span></td></tr>
					</table>
				</div>
			</div>
			<!-- Begin main detail view -->
			<div class="col-md-10 col-xs-8 scrollable" id="detailsView">
				<div id="panDashboard" class="pane">
                    <canvas id="canvas"></canvas>
				</div>
				<div id="panOrders" class="pane">
					<table id="orders" class="table">
						<thead>
							<th>Order ID</th>
							<th>Buyer ID</th>
							<th>Date Ordered (GMT)</th>
							<th>Last Updated (GMT)</th>
							<th>Last Updated By</th>
                            <th>Status</th>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div id="panEmployees" class="pane">
                    <div class="input-group" >
                        <div class="autocomplete" style="width:40%;">
                            <input id="myInput" class="form-control" type="text" name="name" placeholder="Employee Name">
                        </div>
                    </div>
                    <br>
                    <br>
                    <table id="employees" class="table">
                        <thead>
                            <th>ID</th>
                            <th>Order ID</th>
                            <th>Action</th>
                            <th>Timestamp</th>
                            <th>Rating</th>
                        </thead>
                    </table>
                </div>
                <div id="panIssues" class="pane">
                    <table id="issues" class="table">
                        <thead>
							<th>Order ID</th>
							<th>Buyer ID</th>
							<th>Date Ordered (GMT)</th>
							<th>Issue Registered</th>
							<th>Status</th>
						</thead>
						<tbody></tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
    
    
	<!-- Modal -->
	<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
	 	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title" id="detailsModalLabel">Order Details</h5>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
        			</button>
	      		</div>
	      		<div class="modal-body">
	     			<img src="https://images.unsplash.com/photo-1449247666642-264389f5f5b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b356ab939c00d2d4f3fb8ee27df53ba&auto=format&fit=crop&w=800&q=60" class="img-thumbnail">
	     			
	     			<table class="table" id="orderDetails">
	     				<thead>
	     					<th>Line Item</th>
	     					<th>Item Name</th>
	     					<th>Quantity</th>
	     					<th>Price</th>
	     				</thead>
	     				<tbody></tbody>
	     			</table>

	     			<table class="table" id="orderTransactions">
	     				<thead>
	     					<th>Actor ID</th>
	     					<th>Timestamp</th>
	     					<th>Updated By</th>
	     					<th>Name</th>
	     				</thead>
	     				<tbody></tbody>
	     			</table>
      			</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
        </div>
	</div>
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="detailsModalLabel">Message</h5>
                 </div>
                 <div class="modal-body">
                    
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                 </div>
           </div>
       </div>
   </div>
	<!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        
        var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				datasets: [{
					label: 'Sales',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    pointBackgroundColor: 'rgba(255, 99, 132, 0.2)',
					borderColor: 'rgba(255,99,132,1)',
					data: [12, 19, 3, 5, 2, 3],
					fill: true,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: ''
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
        var selected = 'Dashboard';
        // Function that loads the appropriate event when selected and updates the UI to reflect it
        function select(pane) {
            $("#nav" + selected).removeClass('selected'); // "De-select" the row of the previously selected event
            $("#nav" + selected).find(".nav-item-icon").attr('src', '../static/img/' + selected.toLowerCase() + '-24px.png');
            selected = pane; // Set the selected event to the event that was clicked
            $("#nav" + pane).addClass('selected'); // "Select" the row of the clicked event
            $("#nav" + selected).find(".nav-item-icon").attr('src', '../static/img/selected-' + selected.toLowerCase() + '-24px.png');
            // Load the event data into the page
            loadPane('pan' + pane);
        }

        function loadPane(paneId) {
            $(".pane").hide();
            $("#" + paneId).show();
        }
        function popOrdersTable(orders) {
            var orderTable = document.getElementById('orders').getElementsByTagName('tbody')[0];
            for (var i = 0; i<orders.length; i++) {
                var row = orderTable.insertRow(i);
                var cell_no = 0;
                var order_id = row.insertCell(cell_no++);
                order_id.innerHTML = orders[i]['id'].toUpperCase();
                var buyer_id = row.insertCell(cell_no++);
                buyer_id.innerHTML = orders[i]['user'];
                var order_date = row.insertCell(cell_no++);
                order_date.innerHTML = moment(orders[i]['created']).format('DD/MM/YYYY HH:MM:SS');
                var last_update_date = row.insertCell(cell_no++);
                last_update_date.innerHTML = moment(orders[i]['last_update']).format('DD/MM/YYYY HH:MM:SS');
                var last_updated_by = row.insertCell(cell_no++);
                last_updated_by.innerHTML = orders[i]['last_updated_by'];
                var status = row.insertCell(cell_no++);
                status.innerHTML = orders[i]['status'];
            }
            $('#orders').DataTable();
        }
        function popOrderDetailsTable(orderActions) {
            var orderDetailsTable = document.getElementById('orderDetails').getElementsByTagName('tbody')[0];
            for (var i = 0; i < orderActions['product_id'].length; i++) {
                var row = orderDetailsTable.insertRow(i);
                var cell_no = 0;
                var product_id = row.insertCell(cell_no++);
                product_id.innerHTML = i;
                var name = row.insertCell(cell_no++);
                name.innerHTML = orderActions['product_names'][i];
                var quantity = row.insertCell(cell_no++);
                quantity.innerHTML = orderActions['product_quantities'][i];
                var prices = row.insertCell(cell_no++);
                prices.innerHTML = orderActions['product_prices'][i];
            }
        }
        function popOrderTransactionsTable(orderActions) {
            var orderDetailsTable = document.getElementById('orderTransactions').getElementsByTagName('tbody')[0];
            for (var i = 0; i<orderActions.length; i++) {
                var row = orderDetailsTable.insertRow(i);
                var cell_no = 0;
                var employee_id = row.insertCell(cell_no++);
                employee_id.innerHTML = orderActions[i]['id'];
                var timestamp = row.insertCell(cell_no++);
                timestamp.innerHTML = orderActions[i]['action'];
                var updated_by = row.insertCell(cell_no++);
                updated_by.innerHTML = moment(orderActions[i]['datetime']).format('DD/MM/YYYY HH:MM:SS');
                var action = row.insertCell(cell_no++);
                action.innerHTML = orderActions[i]['actor'];
            }
        }
        function popEmployeeTable(employees) {
        	var employeeTable = document.getElementById('employees').getElementsByTagName('tbody')[0];
        	for (var i = 0; i<employees.length; i++) {
        		console.log(employees[i]);
        		var row = employeeTable.insertRow(i);
        		var cell_no = 0;
                var id = row.insertCell(cell_no++);
        		id.innerHTML = employees[i]['id'];
        		var order_id = row.insertCell(cell_no++);
        		order_id.innerHTML = employees[i]['order_id'];
        		var last_update_date = row.insertCell(cell_no++);
        		last_update_date.innerHTML = employees[i]['action'];
        		var last_updated_by = row.insertCell(cell_no++);
        		last_updated_by.innerHTML = employees[i]['datetime'];
                var rating = row.insertCell(cell_no++);
        		rating.innerHTML = '4/5';
                $('#employees').DataTable();
        	}
        }
        function popIssuesTable(issues) {
            var issueTable = document.getElementById('issues').getElementsByTagName('tbody')[0];
            for (var i = 0; i < issues.length; i++) {
                var row = issueTable.insertRow(i);
                var cell_no = 0;
                var order_id = row.insertCell(cell_no++);
                order_id.innerHTML = issues[i]['id'].toUpperCase();
                var buyer_id = row.insertCell(cell_no++);
                buyer_id.innerHTML = issues[i]['user'];
                var order_date = row.insertCell(cell_no++);
                order_date.innerHTML = moment(issues[i]['created']).format('DD/MM/YYYY HH:MM:SS');
                var issue_registered = row.insertCell(cell_no++);
                issue_registered.innerHTML = issues[i]['issue'];
                var status = row.insertCell(cell_no++);
                status.innerHTML = issues[i]['status'];
            }
            $('#issues').DataTable();
        }
        $('.emp-search').change(function() {
            console.log('input has changed');

        });
        $('#detailsModal').on('hidden.bs.modal', function () {
            $('#orderDetails tbody').empty();
            $('#orderTransactions tbody').empty();
        })

        $("#myInput").on('keyup', function (e) {
            
            if (e.keyCode == 13) {
                var employee_id = $('#myInput').text();
                $.getJSON('/transactions/'+employee_id, function(result){
                    if (result) {
                        popEmployeeTable(result);
                    }
                })
            }
        });
        // Set up event listener for when the DOM is fully loaded
        $(document).ready(function() {
            var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
            // Select the provided event, or the first event as appropriate
            select(selected);
            
            $(".side-nav-item").click(function(e) {
                select($(this).attr('id').substring(3));
            });
            // call endpoint for list of orders
            // var employees = []
            $.getJSON('/orders', function(result) {
                if (result) {
                    popOrdersTable(result);
                }
            })
            
            // popEmployeeTable(employees);
            // popOrderDetailsTable(orderActions);
            
            $('#orders tbody').on('click', 'tr', function () {
                console.log($(this).find('td'));
                var data = $(this).find('td').eq(0).text()

                var detailsModal = $('#detailsModal');
                
                //detailsModal.find('.modal-body').text(data[0]);
                detailsModal.modal('show');
                $.getJSON('/transactions/'+data.toLowerCase(), function(result){
                    if (result) {
                        popOrderTransactionsTable(result['transactions']);
                        popOrderDetailsTable(result['order']);
                    }
                })
    		});	
            $('#issues tbody').on('click', 'tr', function () {
                var data = $(this).find('td').eq(0).text()
                
                var messageModal = $('#messageModal');
                
                //detailsModal.find('.modal-body').text(data[0]);
                messageModal.modal('show');
                $.get('/report_message/'+data.toLowerCase(), function(result){
                    if (result) {
                        $('#messageModal').find('.modal-body').text(result);

                    }
                })
    		});	
        });
        
        

        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
                }
            }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        $.getJSON('/employees', function(result) {
            if (result) {
                autocomplete(document.getElementById("myInput"), result);
            }
        })
        $.getJSON('/issues', function(result) {
            if (result) {
                popIssuesTable(result);
            }
        })
    </script>
    </body>
    </html>